In [4]:
! pip install apyori

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: apyori in c:\users\pugazh mukilan\appdata\roaming\python\python311\site-packages (1.1.2)

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

IMPORTING THE DATASET

In [6]:
dataset  = pd.read_csv('Market_Basket_Optimisation.csv',header = None)#it states that there is no column in the dataset
transactions=[]

#taking the the elements from the dataset and adding it in the transcation list
for i in range(0,7501):
    transactions.append([str(dataset.values[i,j])for j in range(0,20)])

APRIORI

In [7]:
from apyori import apriori

rules = apriori(transactions = transactions, min_support = 0.0027,min_confidence = 0.2, min_lift = 3,min_length = 2,max_length=2)
#min_support
#(3*7)/7501   3 means minimum three items purchased in the transcation    7 is the data is recorded for a week
#7501 is the total no of elements in the transcation

VISUALISING THE REUSLTS

In [8]:
results = list(rules)

WELL ORGANISED DATA FROM THE RESULTS

In [9]:
from collections import namedtuple

def inspect(results):
   
    lhs = [tuple(result[2][0][0])[0] for result in results]
    rhs = [tuple(result[2][0][1])[0] for result in results]
    support = [result[1]for result in results]
    confidence = [result[2][0][2]for result in results]
    lift =  [(result[2][0][3]) for result in results]
    
    return list(zip(lhs,rhs,support,confidence,lift))
    
resultsinDataFrame = pd.DataFrame(inspect(results),columns=['lhs','rhs','support','confidence','lift'])
print(resultsinDataFrame)
list(rules)

                    lhs          rhs   support  confidence      lift
0  extra dark chocolate      chicken  0.002800    0.233333  3.889407
1           light cream      chicken  0.004533    0.290598  4.843951
2  mushroom cream sauce     escalope  0.005733    0.300699  3.790833
3                 pasta     escalope  0.005866    0.372881  4.700812
4         fromage blanc        honey  0.003333    0.245098  5.164271
5         herb & pepper  ground beef  0.015998    0.323450  3.291994
6          tomato sauce  ground beef  0.005333    0.377358  3.840659
7           light cream    olive oil  0.003200    0.205128  3.114710
8     whole wheat pasta    olive oil  0.007999    0.271493  4.122410
9                 pasta       shrimp  0.005066    0.322034  4.506672

[]

SAMPLE EXAMPLES FOR DATAFRAME

In [10]:
sampledataframe = pd.DataFrame([[1,2,3],[4,5,6],[2,5,1]],columns = ['number1','number2','number3'])

In [11]:
sampledataframe.nlargest(n = 3,columns = 'number3')

   number1  number2  number3
1        4        5        6
0        1        2        3
2        2        5        1

DISPLAYING THE DATAFRAME IN CORRECT FORMAT

In [12]:
resultsinDataFrame.nlargest(n = 10,columns = ['lift'])

                    lhs          rhs   support  confidence      lift
4         fromage blanc        honey  0.003333    0.245098  5.164271
1           light cream      chicken  0.004533    0.290598  4.843951
3                 pasta     escalope  0.005866    0.372881  4.700812
9                 pasta       shrimp  0.005066    0.322034  4.506672
8     whole wheat pasta    olive oil  0.007999    0.271493  4.122410
0  extra dark chocolate      chicken  0.002800    0.233333  3.889407
6          tomato sauce  ground beef  0.005333    0.377358  3.840659
2  mushroom cream sauce     escalope  0.005733    0.300699  3.790833
5         herb & pepper  ground beef  0.015998    0.323450  3.291994
7           light cream    olive oil  0.003200    0.205128  3.114710